html{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1 {
    background-color: red;
    color: white;
}
#york {
    background-color: white;
    width: 20%;
    height: auto;
}

.formfield {
    text-align: left;
    width: fit-content;
    height: fit-content;
    border-color: black;
}