html{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1 {
    background-color: rgb(227, 24, 55);
    color: white;
}
#york {
    background-color: white;
    width: 20%;
    height: auto;
}

#login {
    font-size: 25px;
    background-color: rgb(227, 24, 55);
    color:white;
    border-color: rgb(227, 24, 55);
    margin-bottom: 30px;
}
#buddy {
    width: 40%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{ 
    font-size: 20px;

}